*{
    font-family: "Comic Neue", cursive;
    
    font-style: normal;
}

body{
    background-color: #f6eccf;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}
h1{
    color: #ec2b20;
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 2px;
    text-shadow: 
                -2px -2px 0 #fefffd,2px -2px 0 #fefffd,-2px  2px 0 #fefffd,2px  2px 0 #fefffd,
                 0px -2px 0 #fefffd,0px  2px 0 #fefffd,-2px  0px 0 #fefffd,2px  0px 0 #fefffd,
                -4px -4px 0 #feb411,4px -4px 0 #feb411,-4px  4px 0 #feb411,4px  4px 0 #feb411,
                 0px -4px 0 #feb411,0px  4px 0 #feb411,-4px  0px 0 #feb411,4px  0px 0 #feb411,
                -3px -3px 0 #feb411,3px -3px 0 #feb411,-3px  3px 0 #feb411,3px  3px 0 #feb411,
                -3px  0px 0 #feb411,3px  0px 0 #feb411,0px -3px 0 #feb411,0px  3px 0 #feb411;
}

.options{
    background-color: #eed39e !important;
    align-items: center;
    text-align: left;
    display:inline-block;
    padding:  20px ;
    border-radius: 10px;
}

.r-system, .r-temp, .r-portions, .r-filter{
    color: #51171b;
    font-weight: 550;
}


.receta {
    background-color: #faf9f5;
    text-align: left;
    margin: 0 100px 0 100px;
    padding: 5px 30px 20px 30px;
    border-radius: 10px;
}

.kw-ingredient, .kw-instruct, .kw-equip, .kw-category, .kw-author{
    color: #891a14;
    font-weight: 525;
}

.serves-amt{
    background-color: #c76b3a;
    color: #faf9f5;
    padding: 0 10px 0 10px;
}

.number-s, .number-s-mix{
    color: #845415;
    font-weight: 510;
}

.step-num{
    color:#712127;
    font-weight: 525;
}

h2{
    text-align: center;
    font-weight: 550;
    color: #a81d16;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.prep-t{
    background-color: #e57893;
    padding: 0 10px 0 10px;
    color: #faf9f5;
}

.cook-t{
    background-color: #e56081;
    padding: 0 10px 0 10px;
    color: #faf9f5;
}

.total-t{
    background-color: #e3486f;
    padding: 0 10px 0 10px;
    color: #faf9f5;
}